.appImage{
    cursor:pointer;
}

.appTitle{
    cursor:pointer;
}


.profileIcon{
    cursor: pointer;
}

.searchPanel {
    width: 200px;
}
.searchButton{
    margin-right: 10px;
    cursor: pointer;
}