.pokeCard{
    border-radius: 40px;
    background: #986e6e;
    padding: 30px;
    max-height: 141px !important;
    border-style: solid;
    border-width: 1px;
    border-color: #e0e0e0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}
.catalogContainer{
    display:flex; 
    flex-wrap:wrap;
    padding: 0% 3% 5%;
}

.cardContainer{
    width:33%;
    min-width: 170px;
}

.title{
    text-align: center;
    padding-top: 14px;
    margin-bottom: 0px;
}

.cardName{
    text-align: center;
    margin-top: -12px;
    font-weight: 500;
}

.cardType{
    text-align: center;

    margin-top: -21px;
    font-size: 10px;
}
.normal{
    background-color: #f3f3f32e !important;
    color: #5f5f5f;
}

.fire{
    background-color: rgb(255 0 0 / 62%) !important;
    color: white !important;
}
.water{
    background-color: rgb(0 90 255 / 55%) !important;
    color: white;}
.grass{
    background-color: rgb(79 162 79 / 82%) !important;
    color: white;
}
.electric{
    background-color: rgb(255 235 0 / 32%)!important;
}
.ice{
    background-color: rgb(0 179 150) !important;
    color: white;
}
.poison{
    background-color:#cc05cc7a !important;
    color: white !important;
}
.fairy{
    background: #ff8399 !important;
    color: white;
}
.ground{
    color: white;
    background: #986e6ed9 !important;
}