<div style="display:flex; flex-wrap:wrap">
    <div *ngFor="let pokemon of pokemons" >
        <div style="padding: 90px;">
            <mat-card (click)= 'openPokemonDetails(pokemon.name)' style="background: #d14c4c;">
                <img mat-card-image [src]="pokemon.sprites.front_default" width="40" height="70">
                <mat-card-title style="text-align: center;">{{pokemon.name}}</mat-card-title>
            </mat-card>
        </div>
    </div>
</div>

<mat-paginator [length]="pokemonsTotal"
              [pageSize]="20"
              (page)="onPageChange($event)">
</mat-paginator>