.backIcon{
    padding: 15px 0% 0% 15px;
    cursor: pointer;
}
.pokemonCard{
    padding: 2% 7% 7% 7%;
}

.pokemonAvatar{
    border-radius: 0px !important;
}

.pokemonTypeLabel{
    background: #d6d6d6;
    text-align: center;
    border-radius: 10px;
    min-width: 90px;
}

.experienceLabel{
    align-self: center;
    font-size: 21px;
    font-weight: 400;
    color: #696969;
    margin-bottom: 15px;
}

.normal{
    background-color: #afafaf;
    color: white;
}

.fire{
    background-color: #ff7676;
    color: white;
}
.water{
    background-color: rgb(113 163 255);
    color: white;}
.grass{
    background-color: rgb(79 162 79);
    color: white;
}
.electric{
    background-color: rgb(229, 255, 0);
}
.ice{
    background-color: rgb(0 179 150);
    color: white;
}
.poison{
    background-color: purple;
    color: white;
}
.fairy{
    background: #ff8399;
    color: white;
}
.ground{
    color: white;
    background: #a37676;
}

.statsTitle{
    text-align: center;
}

.statName{
    display: table-cell;
    min-width: 120px;
    font-weight: 500;
}

.statNumber{
    padding-left: 10px;
}

.statContainer{
    margin-bottom: 10px;
    display: table;
    width: 100%;
}

.abilitieContainer{
    display: table-cell;
    min-width: 90px;
    text-align: center;
    background: #cececead;
    border-radius: 4px;
    margin-right: 39px;
}